/*Fonts :
font-family: 'Lugrasimo', cursive;
font-family: 'Roboto', sans-serif;
*/
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#menuMobile {
    display: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/*design of header and footer*/
header, footer {
    background: #45afe7;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(69,175,231,0.8820320364473915) 100%);
    position: sticky;
    top:0;
    width: 100%;
}
footer {
    background: linear-gradient(90deg, rgba(69,175,231,0.8820320364473915) 0%, rgba(255,255,255,1) 100%);/*inverse gradient from header*/
    bottom:0;
}
.containerHeader, .containerFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.containerFooter {
    justify-content: flex-start;
}
.itemH, .itemF {
    padding: 15px;
}
header nav ul li a, footer nav ul li a {
    padding:10px;
    color: #0d0d0d;
    font-size: 1.2em;
    border-radius: 15px;
    border: 1px solid #ffffff
}
header nav ul li a:hover, footer nav ul li a:hover {
    background-color: #ffffff;
    color:#45afe7
}
/*design main*/
.containerMain {  
    background-color: tomato;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "titre titre titre"
      "citation citation citation"
      "valeurAjoutee valeurAjoutee photo"
      "competences competences langues"
      "formation formation formation"
      "tp tp tp"
      "dts dts bafa"
      "bac bac bac"
      "experience experience experience"
      "stage stage stage"
      "manip manip manip"
      "etudiant etudiant etudiant"
      "anim caisse ."
      "interets interets interets"
      "amhe danse jdr"
      "jeux lecture ."
      "projets projets projets"
      "exemple exemple exemple"
      "cvpdf cvpdf retour";
}
  
  .titre { 
    grid-area: titre;
    background-color: blue;
    
    
    
 }
  
  .citation { grid-area: citation; background-color: red;}
  
  .valeurAjoutee { grid-area: valeurAjoutee; background-color: pink;}
  
  .photo { grid-area: photo;background-color: violet; }
  
  .competences { grid-area: competences; background-color: green;}
  
  .langues { grid-area: langues;background-color: greenyellow; }
  
  .formation { grid-area: formation; background-color: yellow;}
  
  .tp { grid-area: tp;background-color: purple; }
  
  .dts { grid-area: dts; background-color: lightseagreen; }
  
  .bafa { grid-area: bafa; background-color: lightslategray;}
  
  .bac { grid-area: bac;background-color: orange;}
  
  .experience { grid-area: experience; background-color: burlywood;}
  
  .stage { grid-area: stage; background-color: lawngreen;}
  
  .manip { grid-area: manip;background-color: fuchsia; }
  
  .etudiant { grid-area: etudiant; background-color: darkgoldenrod;}
  
  .anim { grid-area: anim;background-color: powderblue; }
  
  .caisse { grid-area: caisse;background-color: palegreen; }
  
  .interets { grid-area: interets;background-color: slateblue; }
  
  .amhe { grid-area: amhe;background-color: silver; }
  
  .danse { grid-area: danse; background-color: lavender;}
  
  .jdr { grid-area: jdr;background-color: olivedrab; }
  
  .jeux { grid-area: jeux;background-color: maroon; }
  
  .lecture { grid-area: lecture; background-color: mediumvioletred;}
  
  .projets { grid-area: projets;background-color: midnightblue; }
  
  .exemple { grid-area: exemple;background-color: aqua; }
  
  .cvpdf { grid-area: cvpdf;background-color: aquamarine; }
  
  .retour { grid-area: retour; background-color: gold;}

  .itemM{
    width: 100%;
  }
  