/*Les polices :
font-family: 'Glass Antiqua', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Roboto', sans-serif;
*/

*{
    margin : 0;
    padding : 0;
}

#menuMobile {
    display: none;
}

header {
    background-color: antiquewhite;
    position: sticky;
    top:0;
    width: 100%;
    
}
.containerHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itemH {
    padding: 15px;
    
}

.itemH:hover{
    font-weight: bold;
}

header nav ul li {
    list-style: none;
    
}
header nav ul li a{
    border-radius: 15px;
    background-color: rgb(255, 192, 245);
    padding:10px;
    text-decoration: none;
    color: #0d0d0d;
    font-size: 20px;
    border: 1px solid #ffffff
    
} /*Fin header*/

main {
    background-color: rgb(251, 251, 251);
    width: 100%;
    
    
}

.containerMain {
    display: grid;
    grid-template-columns:0.15fr 1fr 0.15fr; 
    grid-template-rows: 1fr 0.5fr 1fr 1fr 0.5fr 0.25fr 0.5fr; 
    gap: 5px 5%; 
    grid-template-areas: 
    ". presentation ."
    ". competences ."
    ". formation . "
    ". experiencesPro ."
    ". interets ."
    ". projets ."
    ". downloadcv retour"; 
}

#presentation { 
    grid-area: presentation;
    background-color: rgb(206, 241, 230);
 }
#competences { 
    grid-area: competences; 
    background-color: #f2c3c3;
}
#formation { 
    grid-area: formation;
    background-color: rgb(206, 241, 230);
 }
#experiencesPro {
     grid-area: experiencesPro; 
    }
#interets {
     grid-area: interets; 
     background-color: rgb(206, 241, 230);
     text-align: center;
    }
#projets { 
    grid-area: projets; 
}
.itemM7 { 
    grid-area: downloadcv; 
    
  
}

.itemM7 a{
    background-color: #f2c3c3;
    padding: 5%;
    border-radius: 10px;
    box-shadow:10px #aea8a8; /*à revoir*/
}
.itemM8 { 
    grid-area: retour; 
}

.itemM {
   justify-items: center; 
}

h1, h2, h3{
    text-align: center;
    margin-top: 10px;
    font-family: 'Glass Antiqua', cursive;
}

h1 {
    color :blue;
    font-weight: 400;
    font-size: 3em;
}

h2 {
    color: rgba(0, 123, 255, 0.564);
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.2em;
}

li {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    list-style: none;
    font-size : 1.2em;
}
 h5 {
    font-size: 1.5em;
 }
a {
    text-decoration: none;
}

.itemM8:hover{
    background: url("assets/img/chatmontee.png");/* à revoir*/
}

/*Fin main*/
footer {
    background-color: antiquewhite;
    position: sticky;
    bottom:0;
    width: 100%;
}

.containerFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}
.itemF {
    padding: 15px;
    
}
footer nav ul li {
    list-style: none;
}
footer nav ul li a {
    border-radius: 15px;
    background-color: rgb(255, 192, 245);
    padding:10px;
    text-decoration: none;
    color: #0d0d0d;
    font-size: 20px;
    border: 1px solid #ffffff
}
 /*Formulaire*/
 .formulaire {
    display: grid;
    grid-template-columns:0.15fr 1fr 1fr 0.15fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 5px 5%; 
    grid-template-areas: 
    ". nom sujet ."
    ". prenom message ."
    ". email message ."
    ". telephone message ."
    ". envoyer . ."; 
}

.nom { 
    grid-area: nom;
    
 }
 .sujet { 
    grid-area: sujet;
    
 }
 .prenom { 
    grid-area: prenom;
    
 }
 .message { 
    grid-area: message;
    
 }
 .email { 
    grid-area: email;
    
 }
 .telephone { 
    grid-area: telephone;
    
 }

 .button {
    grid-area: envoyer;
 }







@media (max-width:700px){
    #menu {
        display: none;
    }
    #menuMobile {
        display: block;
        width: 100vh;
    }

    #menuMobile select {
        width: 95%;
    }
}